<h1>Sign In</h1>
<%= form_with url: sign_in_path do |f| %>
   <p>
      <%= f.label 'email:'%><br>
      <%= f.text_field :email, id: 'email' %>
   </p>
   <p>
      <%= f.label 'password:'%><br>
      <%= f.password_field :password, id: 'password' %>
   </p>
   <p>
      <%= f.submit 'Log In' %>
   </p>
<% end %>

