<h1>Group: <%= @group.name %></h1>

<p><b>Description:</b></p>

<p><%= @group.description %></p>

<p><b>Members:</b></p>

<ul>
   <% @group.users.each do |user| %>
      <li>
         <%= user.email %>
      </li>
   <% end %>
</ul>

<p><b>Add Members:</b></p>


<%= form_with scope: :user, url: group_path + '/adduser', local: true do |form| %>
   <p>
      <%= form.label      :email %><br>
      <%= form.text_field :email %>
   </p>
   <p>
      <%= form.submit %>
   </p>
<% end %>


