<h1>New Gift</h1>


<%= form_with scope: :gift, url: gifts_path, local: true do |form| %>
   <p>
      <%= form.label      :name %><br>
      <%= form.text_field :name %>
   </p>
   <p>
      <%= form.label      :description %><br>
      <%= form.text_field :description %>
   </p>
   <p>
      <%= form.submit %>
   </p>
<% end %>

